<h3 mat-dialog-title>Edit Data</h3>

<div mat-dialog-content>
	<mat-form-field style="width : 100%;">
		<mat-label>Id</mat-label>
		<input matInput>
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Nama</mat-label>
		<input matInput>
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Nim</mat-label>
		<input matInput>
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Email</mat-label>
		<input matInput >
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Prestasi</mat-label>
		<input matInput >
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Angkatan</mat-label>
		<input matInput>
	</mat-form-field>
	
	<mat-form-field style="width : 100%;">
		<mat-label>Status</mat-label>
		<input matInput>
	</mat-form-field>
	
</div>
<mat-dialog-actions>
	<span class="spacer"></span>
	<button mat-button mat-dialog-close> Batal </button>
	<button mat-raised-button color="primary">Simpan</button>
</mat-dialog-actions>
	